<div class="container">
    <h1>Nuevo Producto</h1>

    {{>form url=url method=method buttonLabel=button }}

   <a href="/api/productos" class="btn btn-secondary">Ver Lista de Porductos</a>
    
    {{>chat }}
</div>

<script src="/js/main.js"></script>