<form action={{url}} method="post">

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Titulo</label>
    <input type="text" class="form-control" name="title" id="titleInput" placeholder="Inserte el titulo">
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Precio</label>
    <input type="number" class="form-control" name="price"id="priceInput" placeholder="Insert el precio">
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Imagen</label>
    <input type="text" class="form-control" name="thumbnail" id="thumbnailInput" placeholder="Insert una imagen">
  </div>
  
  <button type="submit" class="btn btn-primary">{{buttonLabel}}</button>
</form>