<%-include('./partials/head')%>
<div class="container">
    <h1>Nuevo Producto</h1>

    <%-include('./partials/form')%>

    <div class="mb-3 ">
        <a href="/api/productos" class="btn btn-secondary">Ver Lista de prodcutos</a>
    </div>
    
</div>
